*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Raleway', sans-serif;
}

.cabecalho {
    background-color:blueviolet;
    color:black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabecalho-imagem{
   width: 8%;
}

.cabecalho-lista-item{
   display: inline-block;
   margin: 0 16px;
   font-size: 24px;
} 

.escola-imagem{
    width: 25%;
}

.escola{
    background-image: linear-gradient(blueviolet,aqua);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

.escola-div-conteudo{
    width: 35%;
}
.escola-titulo{
    padding: 24px 0;
}

.primeira-raca{
  size: 20%;
}